.navbar {
  width: 80%;
  height: 135px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  padding-inline: 1em;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(247, 231, 10);
  z-index: 5 !important;
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav-item,
.nav-item-link,
.navbar-brand {
  margin-inline: 0.5em;
  padding: 0.5rem 1rem;
  word-wrap: unset;
}

.nav-item,
.nav-item-link {
  padding: 0.5rem 1rem;
  margin: 0.2em;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 5px;
  height: 100%;
}

.nav-item-link {
  font-weight: bold;
  color: #000;
}
.nav-item-link:hover {
  background-color: #0077cc;
  color: rgb(247, 231, 10);
  border-radius: 5px;
}

a {
  color: #000000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
